.texto-mostrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mostrar-btn {
    background-color: lightblue;
    border-radius: 20px;
    border: none;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightgreen;
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}